@import "../reveal.js/css/theme/serif.css";


body {
  background: #7E7F97;
  background: -moz-radial-gradient(center, circle cover, #ffffff 10%, #7E7F97 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, #ffffff), color-stop(100%, #7E7F97));
  background: -webkit-radial-gradient(center, circle cover, #ffffff 10%, #7E7F97 100%);
  background: -o-radial-gradient(center, circle cover, #ffffff 10%, #7E7F97 100%);
  background: -ms-radial-gradient(center, circle cover, #ffffff 10%, #7E7F97 100%);
  background: radial-gradient(center, circle cover, #ffffff 10%, #7E7F97 100%);
  background-color: #ffffff; }

.reveal h1 { font-size: 2.1em}

.reveal h2 { font-size: 1.6em; margin-bottom: 25px}

.reveal h3 { font-size: 1.2em}

.reveal h4 { font-size: 1.0em}

.reveal span.snippet-year { font-size: 0.7em}

.reveal h5 { font-size: 0.8em}

.reveal h6 { font-size: 0.6em}

.reveal a { font-style: italic; }

.reveal section img {
  margin: 0px 0px;
  background: none;
  border: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.reveal section img.logo-left {
  margin: 0px 0px;
  background: none;
  border: none;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
}

.reveal table td {
  font-size: 1.5em;
  border-bottom-style: none;
}

.reveal pre {
  font-size: 0.45em;
}

.reveal pre code {
	overflow: hidden;
	tab-size: 3;
  -moz-tab-size: 3;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
	}

.slides .header-left{
  position:absolute;
  left: 0%;
  font-size: 0.32em;
}

.slides .header-right{
  position:absolute;
  right: 0%;
  font-size: 0.32em;
}

.slides .footer-left{
  position:absolute;
  left: 0%;
  bottom: 10%;
  font-size: 0.32em
}

.slides .footer-right{
  position:absolute;
  right: 0%;
  bottom: 10%;
  font-size: 0.32em
}

