@import "../reveal.js/css/theme/serif.css";

body { background: #fff; background-color: #fff; }

.reveal h1 { font-size: 2.1em}
.reveal h1.title-slide { color: #F0F1EB;}

.reveal h2 { font-size: 1.8em}

.reveal h3 { font-size: 1.4em}

.reveal h4 { font-size: 1.1em}
.reveal h4.title-slide {color: #F0F1EB;}

.reveal h5 { font-size: 0.8em}

.reveal section img {
  box-shadow: none;
  border: none; }
