@import "../reveal.js/css/theme/serif.css";

body { background: #fff; background-color: #fff; }

.reveal h1 { font-size: 2.1em}

.reveal h2 { font-size: 1.6em}

.reveal h3 { font-size: 1.3em}

.reveal h4 { font-size: 1.0em}


.reveal h5 { font-size: 0.8em}

.reveal h1.title-slide,
.reveal h4.title-slide {
	color: #F0F1EB;}

.reveal section img {
  box-shadow: none;
  border: none; }

.reveal pre {
  font-size: 0.5em;
}

.reveal pre code {overflow: hidden;}
