body {
	font-family: 'News Cycle', serif;
	background: #fff;
	background-color: #fff;
}

h1 {
	margin-bottom: 0.2em;
	font-size:2.0em
}

h2 {
	font-size: 1.3em;
	margin-top: 2.0em;
	margin-left: 0.3em;
	margin-bottom: -0.7em;
	font-style: italic;
}

pres {
	margin-top:1.5em;
	margin-bottom:1.5em;
	padding-left:1em;
	display:block;
	width:32em;
}

a.title {
	display: block;
	font-size: 1.2em;
	padding-bottom:0.2em;
	font-weight: bold;
}

title {
	display: block;
	font-size: 1.2em;
	padding-bottom:0.2em;
	font-weight: bold;
}

talk {
	padding-left:2em;
	font-size: 1.0em;
	display: block;
}

note {
	margin-left: 1em;
	padding-bottom: 0.1em;
	display: block;
	width:32em;
}

.note {
	font-size: 0.9em;
	font-style: oblique;
}

a:link, a:visited {
	color: #1d1d8e;
}

a:hover, a:active {
	color: #666699;
}
