body {
	font-family: 'News Cycle', serif;
	background: #fff;
	background-color: #fff;
	width:32em;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size:2.0em;
	margin-bottom: 0.2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1.0em;
}

h5 {
	font-size: 0.9em;
}

.year {
	margin-top: 1.5em;
	margin-left: 0.3em;
	margin-bottom: -0.8em;
	font-style: italic;
}

.presentation {
	margin-top:1.5em;
	margin-bottom:1.5em;
	padding-left:1em;
	display:block;
}

.title {
	display: block;
	padding-bottom:0.2em;
	font-weight: bold;
}

.co-presenter {
	font-style: italic;
}

.talk {
	padding-left:2em;
	display: block;
}

.note {
	font-style: oblique;
}

h5.note {
	margin-left: 1em;
	padding-bottom: 0.1em;
	display: block;
}

a:link, a:visited {
	color: #1d1d8e;
}

a:hover, a:active {
	color: #666699;
}
