@import "../reveal.js/css/theme/simple.css";
/*@import "../reveal.js/css/theme/serif.css";*/

.reveal {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}

.slides .footer-right{
  position:absolute;
  right: 0%;
  bottom: 10%;
  font-size: 0.4em
}


.reveal h1 {
	font-size: 2.4em;
}

.reveal h2 {
	font-size: 1.8em; 
}

.reveal h3 {
	font-size: 1.0em;
}

.reveal h4 {
	font-size: 0.7em;
}

.reveal h5 {
	font-size: 0.7em;
}

.reveal h5 span.sub {
	font-size: 0.7em;
}

.reveal div.slide-body {
	margin-top: 1.0em;
	margin-left: 0.6em;
}

.reveal div.slide-body-c {
	margin-top: 1.0em;
	margin-left: 0.6em;
	text-align: center;
}

.reveal div.slide-body-sub {
	margin-left: 0.7em;
}

.reveal div.lesson {
	margin-top: 3.2em;
	/*margin-left: 0.7em;*/
	text-align: center;
}

.reveal div.level {
	margin-top: 2em;
	text-align: center;
}

.reveal div.level-alt {
	margin-top: 5.3em;
	text-align: center;
}

.reveal .level-alt h1 {
	color: white;
}

.reveal .flex {
	display: flex;
	flex-wrap: nowrap;
}

.reveal .flex-c {
	display: flex;
	flex-wrap: nowrap;
	align-items: center
}

.reveal .heuristic {
	font-weight: 600;
	margin-right: 0.1em;
}

.reveal .lighter {
	color: #cecece;
}

.reveal .green {
	color: #6eb529;
}

.reveal .dark-teal {
	color: #06989a;
}

.reveal .red {
	color: #cc0000;
}

.reveal section img.plain {
  margin: 0;
}

/*.reveal section img {
  border: 0px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }*/

.reveal section img {
	margin: 20px;
	background: none;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reveal pre {
	margin: 0;
	font-size: 0.50em;
}

.reveal pre code {
  max-height: 450px;
  overflow: hidden;
}

.reveal .progress {
  color: #595959; }