body {
	font-family: 'News Cycle', serif;
	background: #fff;
	background-color: #fff;
}

pres {
	margin-bottom:2em;
	padding-left:1em;
	display:block
}

title {
	display: block;
	font-size: 1.2em;
	padding-bottom:0.2em;
	font-weight: bold;
}

talk {
	padding-left:2em;
	display: block;
}

a:link, a:visited {
	color: #1d1d8e;
}

a:hover, a:active {
	color: #666699;

}
